%cell {
  max-width: calc(100% - 24px);
  padding: 8px;
  font-size: 1rem;
}

.--stringField {
  @extend %cell;
  display: flex;
  border: 1px solid $gray-light-3;
  border-radius: 2px;
}

.--textReadOnly {
  @extend %cell;
  text-align: center;
}

.--actionCell {
  @extend %cell;
  text-align: center;
}

.BaseCell {
  display: flex;
  height: 100%;
  padding: 4px;
}

.selector {
  border: 1px solid $gray-light-2;
  border-radius: 4px;
  padding: 4px 8px;
  width: 100%;
  font-size: 1rem;
}

.CellUpdate {
  padding: 8px 12px;

  .Label {
    font-weight: bold;
    font-size: 1rem;
  }

  .SelectCellType {
    margin-top: 8px;
  }

  .Submit {
    margin-top: 16px;
  }
}
