.--miniBtn {
  font-size: 0.7rem;
  padding: 2px 12px;
  text-align: center;
  border: 1px solid $gray-light-3;
  border-radius: 4px;
  white-space: nowrap;
}

.--mediumButton {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 12px 24px;
  border-radius: 8px;
  width: 100%;
  border: 0;
  display: block;

  &.primary {
    background: $primary;
    color: $white;
  }
}

%cell {
  padding: 8px;
  font-size: 1rem;
}

.--stringField {
  @extend %cell;
  border: 1px solid $gray-light-3;
  border-radius: 2px;
}

.--textReadOnly {
  @extend %cell;
  text-align: center;
}

.--actionCell {
  @extend %cell;
  text-align: center;
}

.BaseCell {
  padding: 4px;
}
