%cell {
  max-width: calc(100% - 24px);
  padding: 8px;
  font-size: 1rem;
}

.--textReadOnly {
  @extend %cell;
  text-align: center;
}

.--actionCell {
  @extend %cell;
  text-align: center;
}

.selector {
  border: 1px solid $gray-light-2;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  font-size: 1rem;
  min-height: 36px;
  background: $white;
}

.Form {
  text-align: left;
  padding: 8px 12px;

  @include mq {
    padding: 16px 12px;
  }

  .Label {
    font-weight: bold;
    font-size: 0.9rem;

    @include mq {
      font-size: 1.1rem;
    }
  }

  .FormContent {
    padding: 16px 0;

    display: flex;
    flex-direction: column;

    @include mq {
      min-width: 300px;
    }

    &:not(:first-child) {
      border-top: 1px solid $gray-light-3;
    }

    &.--no-border {
      border: 0;
    }

    &.--dense {
      padding: 6px 0;
    }
  }

  .FormItem {
    margin-top: 8px;
  }
}

.ActionButton {
  display: flex;
  justify-content: center;
  @include mq('sp') {
    width: 100%;
  }

  &__button {
    font-weight: bold;
    color: $white;
    background: $primary;
    font-size: 1.3rem;
    padding: 16px 0;
    text-align: center;
    border-radius: 12px;
    box-shadow: 1px 2px 2px 1px $gray-light-2;

    @include mq('sp') {
      flex: 1;
    }
    @include mq {
      padding: 16px 48px;
      max-width: 320px;
    }
  }
}

.Markdown {
  &__h2 {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 8px 0;
  }

  &__h3 {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 8px 0;
  }

  &__h4 {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 8px 0;
  }

  &__p {
    padding: 12px 0;
  }
}
